---
import { collectBacklinks } from "../utils/backlinks";
import { getCollection } from "astro:content";
export interface Props {
	currentSlug: string;
}

const { currentSlug } = Astro.props;

const blog = await getCollection("blog");
const notes = await getCollection("note");
const posts = [
	...blog.map((post) => ({ ...post, slug: `/blog/${post.slug}` })),
	...notes.map((post) => ({ ...post, slug: `/note/${post.slug}` })),
];

// Collect backlinks during build time
const backlinks = Object.entries(collectBacklinks(posts))
	.filter(([key]) => key == `${currentSlug}`)
	.map(([, value]) => value)
	.flat();
---

{
	backlinks.length > 0 && (
		<aside class="backlinks">
			<h2>Backlinks</h2>
			<nav>
				<ul>
					{backlinks.map((link) => (
						<li>
							<a href={`${link.slug}`}>{link.title}</a>
						</li>
					))}
				</ul>
			</nav>
		</aside>
	)
}

<style lang="scss">
	ul {
		margin: 0.75rem 0 0 0;
		padding: 0 0 0 1rem;
	}
</style>
