---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Page.astro";
import FormattedDate from "@components/FormattedDate.astro";
import Webmentions from "@components/Webmentions.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
const webmentionsUrl = import.meta.env.PROD
	? `https://webmention.io/api/mentions.jf2?target=https://ryanparsley.com${Astro.url.pathname}`
	: `https://webmention.io/api/mentions.jf2?target=https://ryanparsley.com${Astro.url.pathname}/`;
const response = await fetch(webmentionsUrl);
const json = await response.json();
const webmentions = json.children;
---

<Layout class="has-aside" title={title} description={description}>
	<article class="h-entry">
		{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
		<FormattedDate date={pubDate} />
		{
			updatedDate && (
				<div class="last-updated-on">
					Last updated on <FormattedDate date={updatedDate} />
				</div>
			)
		}
		<section class="e-content">
			<slot />
			<p>
				Published by <a
					rel="author"
					class="p-author h-card"
					href="http://ryanparsley.com">Ryan Parsley</a
				>
			</p>
		</section>
		<Webmentions webmentions={webmentions} />
	</article>
	<aside>
		<slot name="aside" />
	</aside>
</Layout>
