---
import Layout from "@layouts/Page.astro";
import Gallery from "@components/ImageGallery.astro";
import FormattedDate from "@components/FormattedDate.astro";
import WebmentionShare from "@components/WebmentionShare.astro";
const {
	title,
	description,
	pubDate,
	updatedDate,
	heroImage,
	canonicalURL,
	gallery,
	galleryPath,
	OGImage,
} = Astro.props;
import Webmentions from "@components/Webmentions.astro";
---

<Layout
	class="has-aside"
	title={title}
	description={description}
	image={OGImage}
>
	<article class="h-entry">
		{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
		<FormattedDate date={pubDate} />
		{
			updatedDate && (
				<div class="last-updated-on">
					Last updated on <FormattedDate date={updatedDate} />
				</div>
			)
		}
		<section class="e-content">
			{gallery && <Gallery images={gallery} path={galleryPath} />}
			<slot />
			<WebmentionShare postUrl={Astro.url.href} postTitle={title} />
			<Webmentions target={canonicalURL} />
			<p>
				Published by <a
					rel="author"
					class="p-author h-card"
					href="http://ryanparsley.com">Ryan Parsley</a
				>
			</p>
		</section>
	</article>
	<aside>
		<slot name="aside" />
	</aside>
</Layout>
